* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: JosefinSans;
    src: url(./fonts/JosefinSans-Italic-VariableFont_wght.ttf)
}

@font-face {
    font-family: JosefinSans2;
    src: url(./fonts/JosefinSans-VariableFont_wght.ttf);
}

body {
 background-image: linear-gradient(rgba(255, 255, 255, 0.395), rgba(255, 255, 255, 0.395)), url(./images/Coffee-espresso-template1.jpg);
 background-size: cover;  
 background-position: center; 
 background-attachment: fixed;
 font-family: JosefinSans2;
 color: rgb(75, 38, 20);
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    padding-left: 40px;
}

.anchor-tags {
    margin-top: 20px;
    padding-right: 60px;
}

.anchor-tags a {
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(75, 38, 20);
    background-color: #ffffff6b;
}

/* home */
.home {
    display: flex;
    justify-content: space-between;

}

.home-heading {
    padding: 150px 70px;
    font-size: large;
    font-family: JosefinSans;
}

.home h1 {
    font-size: 45px;  
}

h1 em {
   font-size: 60px; 
   font-style: normal;
}

.home-heading p {
   padding: 5px 0; 
}
.home-heading button {
    color: 75, 38, 20;
    border: 1px solid rgb(75, 38, 20);
    background-color: transparent;
    padding: 10px;
    margin-left: 20%;
    margin-top: 15px;
    border-radius: 5px;
}

.offer {
    margin-top: -90px;
    margin-left: -100px;
}

.offer img {
    width: 400px;  
}

.home-image {
    width: 400px;
}

.home-image {
    position: relative;
    animation: move 1s both;

}

@keyframes move {
    from {right: 0px} 
    to  {right: 100px;}
}

/* coffee */

.coffee-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.coffee-container .coffee-cup {
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.265), rgba(0, 0, 0, 0.265)), url(images/back4.jpg);
    background-size: cover;
    color: #fff;
    transition: transform 0.5s ease-in 0.4s;
}

.coffee-cup:hover {
    transform: scale(1.1);
}

.coffee-cup img {
    width: 140px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50px;
}

.coffee-cup h2 {
    margin-top: -15px;
}

.coffee-cup p {
    font-size: 13px;
    padding: 5px;
}


/* small 1000px */
@media screen and (max-width: 1000px) {
    #logo img {
        width: 70px;
        height: 70px;
        padding-left: 30px;
    }
    .anchor-tags {
        padding-right: 50px;
    }
    .anchor-tags a {
        padding: 10px 10px;
    }

    /* home */
    .home-heading{
        padding: 150px 50px;
    }

    .home-heading h1 {
        font-size: 35px;
    }

    h1 em {
       font-size: 50px; 
    }

    .home-heading button {
        padding: 8px;
        margin-top: 8px;
    }

    .offer {
        margin-top: -70px;
        margin-left: -70px;
    }

    .offer img {
        width: 300px;  
    }

    .home-image {
        width: 300px;   
    }

    @keyframes moves {
        from {right: 0px;}
        to {right: 50px;}
    }

    
    /* coffee */

.coffee-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: -50px;
}

.coffee-container .coffee-cup {
    width: 190px;
    height: 190px;
    
}

.coffee-cup img {
    width: 150px;
    height: 130px; 
}

}



/* tabs */
@media screen and (max-width: 780px) {
    #logo img {
        height: 60px;
        width: 60px;
    }
    .anchor-tags a {
        font-size: 2.7vh;
        padding: 5px;
    }

    /* home */

    .home-heading {
        padding: 150px 20px;
    }

    .home-heading h1 {
        font-size: 25px;
    }

    h1 em {
        font-size: 40px;   
    }

    .home-heading image {
        width: 15px;
        padding: 5px;
    }

    .home-heading p {
        font-size: small;
    }

    .home-heading button {
        padding: 5px;

    }

    .offer {
        margin-top: -70px;
        margin-left: -70px;
    }

    .offer img {
        width: 300px;
    }

    .home-image img {
        width: 300px;
    }

    @keyframes moves {
        from {right: 0px;}
        to {right: 5%;}
    }

    
      /* coffee */

.coffee-container .coffee-cup {
    width: 170px;
    height: 170px;
    
}

.coffee-cup img {
    width: 120px;
    height: 100px; 
}

.coffee-cup h2 {
    font-size:  medium;
    margin-top: -20px;
}

.coffee-cup p {
    font-size: 1.7vh;
}

}



/* mobile */
@media screen and (max-width: 420px ){
    #logo img {
        height: 50px;
        width: 50px;
        padding-left: 10px;
    }
    .anchor-tags {
        padding-right: 10px;
        margin-top: 5px;
    }
    .anchor-tags a {
        padding: 5px 5px;
        font-size: 1.6vh;
    }

    
     /* home */

     .home-heading {
        padding: 60px 20px;
    }

    .home-heading h1 {
        font-size: 3vh;
    }

    h1 em {
        font-size: 4vh;   
    }

    .home-heading image {
        width: 10px;
        padding: 2px;
        margin: 8px 0;
        margin-bottom: 0;
    }

    .home-heading p {
        font-size: 1.3vh;
    }

    .home-heading button {
        padding: 2px;
        margin-left: 5px;
        font-size: 1.3vh;

    }

    .offer {
        margin-top: -40px;
       
    }

    .offer img {
        width: 140px;
    }

    .home-image img {
        width: 140px;
    }

    .home-image {
        position: relative;
        animation: move 1s both;
        margin-right: -250px;
    }

    @keyframes moves {
        from {right: 0px;}
        to {right: 5%;}
    } 

    
    /* coffee */

.coffee-container {
    display: grid;
    grid-template-columns: 1;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.coffee-container .coffee-cup {
    width: 250px;
    height: 220px;
    
}

.coffee-cup img {
    width: 180px;
    height: 150px; 
}

.coffee-cup h2 {
    margin-top: -15px;
    
}

.coffee-cup p {
    padding: 10px;
}

}





